*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    /* display: flex; */
    background-color: rgba(255, 255, 255, 1);
    max-width: 1600px;

}
.navber-contant{
    width: 98%;
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    /* margin:16px 120px 16px 120px auto; */
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
}
.nav-img{
   padding: 16px 120px 16px 120px;

}
.li-itam{
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 32px;
    align-items: center;
    text-align: center;
    color: #000000;
    /* justify-content: space-between; */
    /* justify-content: space-between; */

    
      
}
.li-itam li a{
    /* max-width: auto 67px;
    height:auto 24px; */
    gap: 32px;
    line-height: 152%;
    font-weight: 500px;
    /* color: #dd000000; */
    text-decoration: none;  
}

.btn{
    align-items: center;
    margin-right:120px ;
    width: 164px;
    height: 44px;
    background-color:#30B868;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    font-style:600px;
    font-size:600;
    line-height: 19px;
    cursor: pointer;
}

main{
    max-width: 1600px;
    height: 674px;
    background-image: url("./assets/hero-bg.png");

}
section .hero-contant{
    width: 1360px;
    height: 379px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    gap: 32;
    /* border: 1px solid red; */
    padding: 144px 341px 144px 341px;
    margin: 0 auto;
}
 .button{
    width: 229px;
    height: 36px;
    padding: 8px 12px 8px 12px;
    color: #30B868;
    font-style: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display :flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1000px;
    /* text-align: center; */
    gap: 6px;


}
.button img{
    max-width: 16px;
    max-height: 16px;
    border-radius: 8px;
}
.hero-contant h2{
    color:rgba(255, 255, 255, 1);
    font-size: 72px;
    font-style:700px;
}
.hero-contant h1{
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-style:800;
}

.hero-contant p{
    max-width: 1360px;
    height: 60px;
    font-size: 18px;
    color:#FFFFFF;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    font-style: 400px;
    font-weight: 400px;
    line-height: 24px;
}

.button-1{
    display:flex;
    padding-top: 32px;
    cursor: pointer;
}
.button-2{
    width: 251px;
    height: 52px;
    /* padding: 16px 46px 16px 46px; */
    background-color: #30B868;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.button-2 img{
    margin-left: 10px;
    align-items: center;
}

.button-3{
    width: 198px ;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-style: 600;
    font-size: 16;
    padding: 12px 16px 12px 16px;
    margin-left:16px;
    background: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    
}

#card-contant{
    max-width: 1600px;
    height: 448px;
    background-color: rgba(255, 255, 255, 1);
    
}
#card-contant .box-hading{
    text-align: center;
    padding: 80px 70px;
}
.box-hading h1{
    font-size: 48px;
    font-weight: 700px;
    color:rgba(0, 25, 49, 1);
}

.title{
    color: rgba(98, 115, 130, 1);
    margin-top:  16px;
    font-size: 16px;
}
.cards{
    /* margin: 0 auto; */
    max-width: 1360px;
    height: 300px;
    display: flex;
    margin-top: 60px;
    gap: 24px;
    justify-content:center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: rgba(255, 255, 255, 1);;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}
.card img{
    max-width: 60px;
    max-height: 60px;
    padding: 13px 14px 13px 14px;
    border-radius:100%;
    background-color:#F95555;
}
.card h3{
    font-size: 24px;
    font-style: 600px;
    text-align: center;
    line-height: 29px;
    
}
.card p{
    max-width: 244px;
    height: 40px;
    font-size: 16px;
    font-style: 400px;
    line-height: 20px;
    text-align: center;
    color: rgba(98, 115, 130, 1);
    gap: 16;
}
#Brain-section .Brain-img{
    max-width: 600px;
    height: 600px;
    text-align: right;

}


#Brain-section{
   
    /* margin: 0 auto; */
    /* padding-top: 120px; */
    max-width: 1600px ;
    height:840px;
    padding: 120px;
    /* display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */


}
#Brain-section .Brain-contant{
    width: 1600px;
    height: 840px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    gap: 40px;
    /* padding: 120px; */
    background-color: rgba(255, 255, 255, 1);

}
.Brain-contant-sob{
    width: 700px;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px ;
    align-items: flex-start;
}
.Brain-contant-sob span{
    color:#469165;
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-style: 500px;
    line-height: 20px;
    text-align: left;
}
.Brain-contant-sob h1{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-style: 700px;
    line-height: 20px;
    text-align: left;
    line-height: 58px;
    color: rgba(0, 25, 49, 1);
}
.Brain-contant-sob p{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-style: 400px;
    line-height: 20px;
    text-align: left;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
}
.Brain-contant-sob h4{
    width: 382px;
    height: 20px;
    gap:16px ;
    /* display: flex; */
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    color:rgba(0, 25, 49, 1);
}
.Brain-contant-sob h4 img{
    max-width: 20px;
    height: 20px;
    gap: 6;
}

.Early-Access-section{
    max-width: 1600px;
    height: 506px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
    padding: 120px;
    /* border: 1px solid red; */
}
.Early-Access-section .Early-Access{
    max-width: 1360px;
    height: 384px;
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px ;
}
.Early-Access-section .Early-Access h1{
    font-size: 40px;
    font-style: 700px;
    text-align: center;
    line-height:48px;
    font-weight: 700px;

}
.Early-Access-section .Early-Access p{
    width:1280px;
    height: 48px;
    font-size: 16px;
    font-style: 400px;
    line-height: 20px;
    text-align:center;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
}
.Early-button{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width:  192px;
    height: 52px;
    flex-direction: row;
    background-color:#30B868;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.15);;
    /* font-style:600px;
    font-size:600; */
    cursor: pointer;
    gap:24;
}
.footer{
width: 1600px;
height: 348px;
gap: 80;
padding: 120px 120px 30px 120px;
background-color: rgba(0, 25, 49, 1) ;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    
}

.footer-left .logo {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.tagline {
    font-size: 14px;
    color: #cfd8dc;
    margin-left: 50px;
}

.footer-right h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.social-icons a {
    color: #fff;
    margin-left: 15px;
    font-size: 18px;
    transition: 0.3s;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: rgba(250, 250, 250, 1);
}



    

