*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #b2e212cb;
    max-width: 1600px;

}
.navber-contant{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid red; */
    /* margin:16px 120px 16px 120px auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    
}
.nav-img{
   padding: 16px 120px 16px 120px;

}
.li-itam{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

    
      
}
.li-itam li a{
    font-size: 16px;
    width: auto 67px;
    height:auto 24px;
    gap: 32px;
    line-height: 152%;
    font-weight: 500px;
    /* color: #dd000000; */
    text-decoration: none;  
}

.btn{
    width: 164px;
    height: 44px;
    background-color:#30B868;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    font-style:600px;
    font-size:600;
    line-height: 19px;
    cursor: pointer;
    justify-items: left;
}

main{
    max-width: 1600px;
    height: 674px;
    background-image: url("./assets/hero-bg.png");

}
section .hero-contant{
    width: 1360px;
    height: 379px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    gap: 32;
    /* border: 1px solid red; */
    padding: 144px 341px 144px 341px;
    margin: 0 auto;
}
 .button{
    width: 229px;
    height: 36px;
    padding: 8px 12px 8px 12px;
    color: #30B868;
    font-style: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display :flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1000px;
    /* text-align: center; */
    gap: 6px;


}
.button img{
    max-width: 16px;
    max-height: 16px;
    border-radius: 8px;
}
.hero-contant h2{
    color:rgba(255, 255, 255, 1);
    font-size: 72px;
    font-style:700px;
}
.hero-contant h1{
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-style:800;
}

.hero-contant p{
    max-width: 1360px;
    height: 60px;
    font-size: 18px;
    color:#FFFFFF;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    font-style: 400px;
    font-weight: 400px;
    line-height: 24px;
}

.button-1{
    display:flex;
    padding-top: 32px;
    cursor: pointer;
}
.button-2{
    width: 251px;
    height: 52px;
    /* padding: 16px 46px 16px 46px; */
    background-color: #30B868;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.button-2 img{
    margin-left: 10px;
    align-items: center;
}

.button-3{
    width: 198px ;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-style: 600;
    font-size: 16;
    padding: 12px 16px 12px 16px;
    margin-left:16px;
    background: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    
}

#card-contant{
    max-width: 1600px;
    height: 448px;
    
}