*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #b2e212cb;
    max-width: 1600px;

}
.navber-contant{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid red; */
    /* margin:16px 120px 16px 120px auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    
}
.nav-img{
   padding: 16px 120px 16px 120px;

}
.li-itam{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

    
      
}
.li-itam li a{
    font-size: 16px;
    width: auto 67px;
    height:auto 24px;
    gap: 32px;
    line-height: 152%;
    font-weight: 500px;
    /* color: #dd000000; */
    text-decoration: none;  
}

.btn{
    width: 164px;
    height: 44px;
    background-color:#30B868;
    color: white;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
    font-style:600px;
    font-size:600;
    line-height: 19px;
    cursor: pointer;
    
}